{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section py-2">
  
    <div class="container py-2">
      
          
              <div class="card">
                  
                  </div>
                  <div class="card-body">
                    <div class="media">
                      <img class="rounded-circle account-img" src={{user.profile.image.url}}>
                      <h4>Welcome, {{user.username }}</h4>
                      <p>Email: {{ user.email }}</p>
                      <p>Parent Name: {{ user.profile.parentName }}</p>
                      <p class="text-secondary">Phone Number: {{user.profile.phone_number}}</p>

                  </div>
              
          </div>
    
  </div>

  </div>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group bg-white content-section">
      <legend class="border-bottom mb-4">profile info</legend>
      {{u_form|crispy}}
      {{p_form|crispy}}
    </fieldset>
    <div class="form-group">
      <button class="underline-animation signup-button" >Edit profile</button>

    </div>
  </form>

</div>

{%endblock content%}